body {
  font-family: 'EB Garamond', serif;
  margin: 0px;
}

div {
  box-sizing: border-box;
}

@media only screen and (min-width: 500px) {
  div {
    font-size: 20px;
  }
}

/* 
===== HEADER =====
*/

.header {
  background-image: url(images/yay.jpg);
  background-attachment: fixed;
  background-size: 100vw;
  background-repeat: no-repeat;
  height: 58.837891vw;
}

.header__aligner {
  display: flex;
  margin: auto;
  width: 60%;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* 
==================
*/

/* 
===== SECTION =====
*/

.section {
  margin: 100px auto;
}

/* 
===================
*/

/* 
===== FOOTER =====
*/

.footer {
  background-color: rgb(235, 243, 245, 0.8);
}
/* 
==================
*/

/* 
===== CONTAINER =====
*/

.container {
  width: 90%;
  margin: 0 auto;
}

.container--narrow {
  width: 80%;
  margin: 0 auto;
}

@media only screen and (min-width: 500px) {
  .container--narrow {
    width: 50%;
  }
}

/* ===== NAMEBOX ===== */

.name-box {
  text-align: center;
  background-color: rgb(235, 243, 245, 0.8);
  padding: 20px;
}

.name-box__title-text {
  font-size: 30px;
  letter-spacing: 2px;
  font-weight: lighter;
}

@media only screen and (min-width: 500px) {
  .name-box__title-text {
    font-size: 50px;
  }

  .name-box {
    padding: 50px;
  }
}

/* ===== PROFILE ===== */

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

.profile__image {
  width: 150px;
  padding: 5px;
}

.profile__text {
  padding: 5px;
  text-align: center;
}

@media only screen and (min-width: 500px) {
  .profile {
    flex-direction: row;
  }

  .profile__image {
    width: 200px;
  }
}

/* ===== EDUCATION ===== */

.education {
  text-align: center;
}

.education__title {
  margin: 5px auto;
}

.education__subtitle {
  margin: 5px auto;
  margin-bottom: 15px;
}

.education__links {
  text-decoration: none;
  color: rgb(0, 0, 0);
  cursor: pointer;
}

.education__links:hover {
  color: rgb(103, 205, 228);
}

/* ===== SKILLS ===== */

.skills {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.skills__title {
  text-align: center;
  color: rgb(103, 205, 228);
}

.skills__list {
  display: flex;
  list-style: none;
  padding-left: 0px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.skills__list-item {
  margin: 5px;
  color: rgb(103, 205, 228);
}

@media only screen and (min-width: 500px) {
  .skills__title {
    display: none;
  }

  .skills__list-item {
    margin: 8px;
    padding: 1rem 1.5rem;
    border-radius: 10em;
    border: 2px solid rgb(103, 205, 228);
  }
}

/* ===== PROJECTS ===== */

.projects {
}

.projects-square {
  -webkit-box-shadow: -1px 6px 11px 4px rgba(30, 62, 70, 0.1);
  -moz-box-shadow: -1px 6px 11px 4px rgba(30, 62, 70, 0.1);
  box-shadow: -1px 6px 11px 4px rgba(30, 62, 70, 0.1);
  border-radius: 20px;
  padding: 20px;
  margin: 10px;
}

.projects-square__title {
  text-align: center;
}

.projects-square__text {
  text-align: center;
}

@media only screen and (min-width: 500px) {
  .projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .projects-square {
    flex: 1 25.333333%;
  }
}

/* ===== FOOTER ===== */

.footer {
  background-color: rgb(235, 243, 245, 0.8);
  text-align: center;
  padding: 50px;
}

.footer-contactbar {
  margin: 10px;
}

.footer-contactbar__icons {
  margin: 5px;
}

.footer__title {
  display: inline;
  font-size: 20px;
  font-weight: lighter;
}
