body {
  margin: 0px;
  font-family: "EB Garamond", serif;
}

header {
  background-image: url(yay.jpg);
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px;
  height: 20vh;
}

footer {
  background-color: rgba(227, 233, 236, 1);
  padding: 100px;
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  cursor: pointer;
  margin-right: 20px;
}

a:hover {
  color: rgba(227, 233, 236, 1);
}

h1 {
  font-size: 70px;
  letter-spacing: 2px;
}

nav {
  padding: 20px;
  padding-bottom: 0px;
}

nav li {
  display: inline;
  list-style: none;
  font-size: 17px;
}

.nav-menu {
  text-align: right;
  margin: 0;
  padding: 0;
}

.nav-menu-item {
  font-size: 20px;
}

.header-box-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  box-sizing: border-box;
}

.header-box {
  background-color: rgb(235, 243, 245, 0.8);
  padding: 50px;
  width: 30vw;
  height: 20vh;
  transform: translateY(-20px);
}

.image-section {
  background-image: url(yay.jpg);
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  height: 20px;
  justify-content: center;
  align-items: center;
}

.about-me-wrapperm {
  display: flex;
}

.profile-image {
  width: 50%;
}

.contact-bar-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-bar {
}

.contact-bar li {
  display: inline;
  list-style: none;
  font-size: 17px;
}
